<div class="profile-design">
  <%= link_to profile_edit_path, style: "color: black !important", class: "text-decoration-none" do %>
    <i class="fas fa-ellipsis-vertical edit-icon" style="font-size: 25px; margin-top: 10px"></i>
  <% end %>
  <div class="mb-5">
    <h3 class="mt-2 mb-3" style="font-weight: bold">Mon profil</h3>
    <%= cl_image_tag current_user.photo.key, class: "avatar-profile"%>
  </div>


   <div class="card-profile">
      <div class="div">
        <p><%= image_tag "parent.png", width: 30, height: 40 %></p>
      </div>
      <div class="div">
        <p><%= current_user.first_name %></p>
      </div>
   </div>

   <div class="card-profile">
      <div class="div">
        <p><%= image_tag "email.png", width: 30, height: 40 %></p>
      </div>
      <div class="div">
        <p><%= current_user.email %></p>
      </div>
   </div>

    <div class="card-profile">
      <div class="div">
        <p><%= image_tag "appel.png", width: 30, height: 40 %></p>
      </div>
      <div class="div">
        <p><%= current_user.phone_number %></p>
      </div>
   </div>

    <div class="card-profile">
      <div class="div">
        <p><%= image_tag "mot-de-passe.png", width: 30, height: 40 %></p>
      </div>
      <div class="div">
        <p><%= current_user.password %></p>
      </div>
   </div>

   <div class="card-profile">
      <div class="div">
        <p><%= image_tag "children.png", width: 30, height: 40 %></p>
      </div>
      <div class="div">
        <p><%= @list_children.join(", ") %></p>
      </div>
    </div>

  <div class="user-access">
    <div class="card-profile-task" style="background-color: #FFDEB4">
      <div style="text-align: start">
        <p ><%= link_to "Mes tâches", tasks_path %></p>
        <% if @all_tasks_count >= 2 %>
          <p style="font-size: 12px"><%= @all_tasks_count %> tâches en tout!</p>
        <% elsif @all_tasks_count == 1%>
          <p style="font-size: 12px"> 1 tâche seulement</p>
        <% elsif %>
        <p style="font-size: 12px"> Libre comme l'air!</p>
        <% end %>
      </div>
      <%= link_to tasks_path do %>
        <p style="text-align: end; font-size: 25px"><i class="fa-solid fa-arrow-right" style="color: white;"></i></p>
      <% end %>
   </div>

    <div class="card-profile-task" style="background-color: #B2A4FF">
      <p style="text-align: start"><%= link_to "Mes contacts", contacts_path %></p>
      <%= link_to contacts_path do %>
        <p style="text-align: end; font-size: 25px"><i class="fa-solid fa-arrow-right" style="color: white;"></i></p>
      <% end %>
    </div>
  </div>

  <div class="user-access">
    <div class="card-profile-task" style="background-color: #8ECAE6">
      <div style="text-align: start">
        <p ><%= link_to "Mes RDV", appointments_all_path %></p>
        <% if @all_appointments_for_count >= 2 %>
          <p style="font-size: 12px"><%= @all_appointments_for_count %> RDV en tout!</p>
        <% elsif @all_appointments_for_count == 1%>
          <p style="font-size: 12px"> 1 RDV seulement</p>
        <% elsif %>
        <p style="font-size: 12px"> Libre comme l'air!</p>
        <% end %>
      </div>
      <%= link_to appointments_all_path do %>
        <p style="text-align: end; font-size: 25px"><i class="fa-solid fa-arrow-right" style="color: white;"></i></p>
      <% end %>
   </div>

    <div class="card-profile-task" style="background-color: #FFBF69">
      <p style="text-align: start"><%= link_to "Mes enfants", contacts_path %></p>
      <%= link_to contacts_path do %>
        <p style="text-align: end; font-size: 25px"><i class="fa-solid fa-arrow-right" style="color: white;"></i></p>
      <% end %>
    </div>
  </div>
</div>
