<div class="row justify-content-center main-container">
  <div class="col-12 col-sm-4">
    <div class="form-design" style="min-height: 70%">
          <div class="header-show">
            <p style="font-weight: bold; margin-top: 5px">Aujourd'hui, <%= I18n.l Date.today, format: '%-d %B', locale: :fr %></p>
            <%= link_to "Retour", profile_path, class: "btn-back" %>
          </div>

      <h3 class="mt-2 mb-3" style="font-weight: bold">Mes enfants</h3>


        <% @all_children_for_user.each do |child| %>
          <div class="card-tasks-index">
            <h4><%= link_to child.first_name, child_path(child) %></h4>
            <div class="card-tasks-infos">
              <div class="div">
                <p>Nom de famille: <%= child.last_name %></p>
                <p>Date de naissance: <%= task.deadline.strftime ("%d/%m/%Y") %></p>
              </div>
                <% if task.status == false %>
                 <div class="category-class-yellow">
                  <p>En cours</p></div>
                <% elsif %>
                <div class="category-class-green">
                  <p>Terminée</p></div>
                <% end %>
            </div>
          </div>
        <% end %>


    </div>
  </div>
</div>
