<div class="row justify-content-center main-container">
  <div class="col-12 col-sm-4">
    <div class="form-design" style="min-height: 70%">
          <div class="header-show">
            <p style="font-weight: bold; margin-top: 5px">Aujourd'hui, <%= I18n.l Date.today, format: '%-d %B', locale: :fr %></p>
            <%= link_to "+Tâche", new_task_path, class: "btn-back" %>
          </div>

      <h3 class="mt-2 mb-3" style="font-weight: bold">Mes tâches</h3>

      <% if @all_tasks_for_user.present? %>
        <% @all_tasks_for_user.each do |task| %>
          <div class="card-tasks-index">
            <h4><%= link_to task.title, task_path(task) %></h4>
            <div class="card-tasks-infos">
              <div class="div">
                <p>Pour: <%= task.child.first_name %></p>
                <p><i class="fa-solid fa-hourglass-start" style="color: #EACF99"></i> <%= task.deadline.strftime ("%d/%m/%Y") %></p>
              </div>
                <% if task.status == false %>
                 <div class="category-class-yellow">
                  <p>En cours</p></div>
                <% elsif %>
                <div class="category-class-green">
                  <p>Terminée</p></div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% elsif %>
        <div class="programme-free-tasks">
              <p style="color: #bc6c25">Léger comme une plume</p>
              <p style="width: 75%"><%= image_tag "plume.png" %></p>
        </div>
      <% end %>


    </div>
  </div>
</div>
