<div class="row justify-content-center main-container">
  <div class="col-12 col-sm-4">
    <div class="form-design">
          <div class="header-show">
            <p style="font-weight: bold; margin-top: 5px">Aujourd'hui, <%= I18n.l Date.today, format: '%-d %B', locale: :fr %></p>
            <%= link_to "Retour", tasks_path, class: "btn-back" %>
          </div>

      <h3 class="mt-2" style="font-weight: bold">Ma tâche</h3>
      <h4 class="mt-2" style="font-size: 18px"><%= @task.title %></h4>
      <div class="flexbox card-task pt-4">
        <p style="color: grey"><i class="fa-solid fa-child" style="color: #adafb3;"></i> Pour qui?</p>
        <p><%= @task.child.first_name %></p>
      </div>

      <div class="flexbox card-task">
        <p style="color: grey"><i class="fa-solid fa-list"style="color: #adafb3;"></i> Catégorie</p>
        <p><%= @task.category %></p>
      </div>

      <div class="flexbox card-task">
        <p style="color: grey"><i class="fa-solid fa-hourglass-start" style="color: #adafb3;"></i> Date limite</p>
        <p><%= @task.deadline.strftime ("%d/%m/%Y") %></p>
      </div>

      <div class="flexbox card-task">
        <p style="color: grey"><i class="fa-solid fa-battery-half" style="color: #adafb3;"></i> Statut</p>
        <% if @task.status == true %>
          <p>Terminé</p>
        <% elsif @task.status == false %>
          <p>En cours</p>
        <% end %>
      </div>

      <div class="flexbox card-task">
        <p style="color: grey; text-align: start"><i class="fa-regular fa-note-sticky" style="color: #adafb3;"></i> Détails</p>
        <p style="text-align: end"><%= @task.details %></p>
      </div>

      <div class="flexbox card-task">
        <p style="color: grey; text-align: start"><i class="fa-solid fa-circle-exclamation"></i> Pré-requis</p>
        <p style="text-align: end"><%= @task.requirements %></p>
      </div>

      <div class="margin-top: 50px !important">
       <% unless @task.status? %>
        <div class="mt-5"><%= link_to "Marquer comme terminée",
            task_path(id: @task, status: true),
            class: "btn-delete",
            data: { turbo_method: :patch, turbo_confirm: "Êtes-vous sûr(e)?"} %></div>
       <% else %>
          <div class="btn-delete mt-5">Terminée!</div>
       <% end %>

        <div class="mt-4"><%= link_to "Supprimer cette tâche",
          task_path(@task),
          class: "btn-delete",
          data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr(e)?"} %>
        </div>
      </div>
    </div>
  </div>
</div>
