<footer class="footer <%= 'hidden' if current_page?(new_user_session_path) %>">
  <div class="footer-nav">
     <%= link_to root_path, class: current_page?(root_path) ? 'active' : nil do %>
     <i class="fas fa-home"></i>
    <% end %>
     <%= link_to appointments_path, class: current_page?(appointments_path) ? 'active' : nil do %>
     <i class="far fa-calendar"></i>
    <% end %>
     <%= link_to root_path, class: current_page?(root_path) ? 'active' : nil do %>
     <i class="far fa-envelope"></i>
    <% end %>
     <%= link_to profile_path, class: current_page?(profile_path) ? 'active' : nil do %>
     <i class="far fa-user"></i>
    <% end %>
  </div>
</footer>
