<footer class="footer">
  <div class="footer-nav">
    <a href="<%= root_path %>" class="<%= 'active' if current_page?(root_path) %>"><i class="fas fa-home"></i> Accueil</a>
    <a href="<%= appointments_path %>" class="<%= 'active' if current_page?('appointments') %>"><i class="far fa-calendar"></i> Calendrier</a>
    <a href="<%= tasks_path %>" class="<%= 'active' if current_page?(tasks_path) %>"><i class="far fa-envelope"></i> Messagerie</a>
    <a href="/users/sign_in(.:format)" class="<%= 'active' if current_page?('contacts/index') %>"><i class="far fa-user"></i> Profil</a>
  </div>
</footer>
