<div class="container">
  <% if user_signed_in? %>
    <div class="welcome">
      <p>Bonjour <%= current_user.email.split('@').first.capitalize%></p>
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
    </div>

    <div class="tasks">
      <% if @all_pending_tasks_count >=2 %>
        <p style="font-size: 28px; margin-bottom: 0px !important;">Vous avez</p>
        <p style="font-size: 28px; color: #F4B7B6"><%= @all_pending_tasks_count %> tâches aujourd'hui</p>
      <% elsif @all_pending_tasks_count == 1 %>
        <p style="font-size: 28px; margin-bottom: 0px !important;">Vous avez</p>
        <p style="font-size: 28px; color: #F4B7B6"><%= @all_pending_tasks_count %> tâche aujourd'hui</p>
      <% elsif %>
        <p style="font-size: 28px; margin-bottom: 0px !important;">Vous n'avez</p>
        <p style="font-size: 28px; color: #F4B7B6">aucune tâche &#128526</p>
      <% end %>
    </div>

    <div id="progressbar" data-controller="progressbar" data-progressbar-percentage-value="<%= @percentage_completed %>"></div>

    <div class="dashboard">
      <p style="font-size: 24px; margin-bottom: 0px !important">Tableau de bord</p>
      <p style="font-size: 15px; color: #B3B3B3">Les tâches à réaliser</p>
        <ol>
          <% if @two_first_tasks_for_user.present? %>
            <% @two_first_tasks_for_user.each do |task| %>
              <div class="link-show"><li><p><%= link_to task.title, task_path(task.id) %></p></li></div>
            <% end %>
        </ol>
          <% else %>
            <div class="programme-free">
              <p style="color: #bc6c25; margin-bottom: 0px !important">Pas de tâche pour aujourd'hui!</p>
              <p><span style="color: #bc6c25">Bien joué</span> <span style="font-size: 20px">&#128170</span></p>
            </div>
          <% end %>
    </div>


      <% if user_signed_in? %>
        <div class="appointment mt-2">
          <p style="font-size: 24px; margin-bottom: 0px !important;">Votre programme</p>
          <p style="color: #BDBDBD; margin-bottom: 20px !important">Les prochains rendez-vous</p>
          <!-- TODO : itérer sur l'ensemble des appointements d'un utilisateur -->
          <% if @all_appointments_for_count == 0 %>
            <div class="programme-free">
              <p style="color: #bc6c25">Libre comme l'air...</p>
              <p style="width: 25%"><%= image_tag "des-pierres.png" %></p>
            </div>
          <% elsif %>
            <div class="card-appointment">
              <% @three_appointments_to_come.each do |appointment| %>
                  <div class="card-appointment <%= appointment.set_category_color %>">
                    <div class="card-appointment-infos">
                      <p style="font-size: 17px"><%= link_to appointment.title, appointment_path(appointment.id) %></p>
                      <p><%= appointment.category %></p>
                    </div>

                    <p><i class="fa-solid fa-calendar-days" style="color: white"></i> <%= appointment.date.strftime ("%d/%m/%Y") %></p>
                    <p><i class="fa-solid fa-clock" style="color: white"></i> <%= appointment.start_time.strftime('%H:%M') %></p>
                  </div>
              <% end %>
            </div>
          <% end %>
        </div>

      <% end %>
  <% else %>
  <% end %>
</div>
