<div class="form-container">
  <div class="form-design">
  <%= simple_form_for @contact do |f| %>
  <div class="form-inputs">
    <%= f.input :first_name, label: 'Prénom', input_html: { id: 'first_name' } %>
    <%= f.input :last_name, label: 'Nom', input_html: { id: 'last_name' } %>
    <%= f.input :address, :label => 'Adresse',
                      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                      wrapper_html: {data: {controller: "address-autocomplete",
                                            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    <%= f.input :phone_number, label: 'Numéro de téléphone', input_html: { id: 'phone_number' } %>
    <%= f.input :email, label: 'Email', input_html: { id: 'email' } %>
    <%= f.input :category, label: 'Catégorie', as: :radio_buttons, collection_wrapper_tag: 'div',collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: {class: 'category-selector'}, collection: Contact::CATEGORIES %>
    <%= f.rich_text_area :rich_details, placeholder: "Ajoutez des commentaires si nécessaire", label: "Commentaires (facultatif)", input_html: { id: 'details' } %>
    <%= f.input :attachment, label: "Pièce jointe (facultatif)", as: :file, input_html: { id: 'attachment' } %>
    <%= f.submit 'Enregistrer', class: "btn btn-primary btn-lg" %>
    <% end %>
</form>
</div>
  </div>
</div>
