<h1>Liste des contacts</h1>
<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.address %></td>
        <td>
          <%= link_to 'Afficher', contact %>
          <%= link_to 'Supprimer', contact, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce contact?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nouveau Contact', new_contact_path %>
