<div class="row justify-content-center main-container">
  <div class="col-12 col-sm-4">
    <div class="form-design" style="min-height: 70%">
          <div class="header-show">
            <p style="font-weight: bold; margin-top: 5px">Aujourd'hui, <%= I18n.l Date.today, format: '%-d %B', locale: :fr %></p>
            <%= link_to "+Document", new_document_path, class: "btn-back" %>
          </div>

      <h3 class="mt-2 mb-3" style="font-weight: bold">Mes documents</h3>

<% if @documents.present? %>
        <% @documents.each_with_index do |document, index| %>
          <div class="card-tasks-index">
            <% if document.rich_details.present? %>
              <h4 style="font-size: 14px; margin-top: 40px"><%= link_to document.title, document_path(document) %>   <i class="fa-solid fa-comments" style="color: #F4B7B6"></i></h4>
              <%# <p style="text-align: right"> <%= %>
            <% else %>
              <h4 style="font-size: 14px; margin-top: 40px"><%= document.title %></h4>
            <% end %>
            <div class="card-icones" style="padding-right: 5px">
              <p class="text-end"><i class="fa-solid fa-eye"></i><%= link_to ' Apercu', document_path(document) %></p>
              <p class= "text-end" style="padding-top: 0"><i class="fa-solid fa-cloud-arrow-down"></i><%= link_to " Télécharger", rails_blob_path(document.attachment, disposition: "attachment") %></p>




          </div>
              <div class="docs-cats">
                <% if document.category == "Scolarité" %>
                    <div class="category-class-violet">
                      <p class="text-end" style="padding-bottom: 5px"> Scolarité </p></div>
                <% elsif document.category == "Santé" %>
                    <div class="category-class-turquoise">
                      <p class="text-end" style="padding-bottom: 5px"> Santé </p></div>
                <% elsif document.category == "Activités" %>
                    <div class="category-class-green">
                      <p class="text-end" style="padding-bottom: 5px"> Activités </p></div>
                <% elsif document.category == "Juridique" %>
                    <div class="category-class-yellow">
                      <p class="text-end" style="padding-bottom: 5px">Juridique</p></div>
                <% else %>
                    <div class="category-class-pink">
                      <p class="text-end" style="padding-bottom: 5px">Autres</p></div>
                <% end %>
              </div>
            <div class="card-tasks-infos" >
              <div class="div-infos">
                <p><%= document.doctype %> </p>
                <p style= "margin-bottom: 5px"><%= "Pour #{document.child.first_name}" if document.child.present? %></p>
                <%# <p>Créé par <%= document.document_creator.email.split('@').first.capitalize %>
              </div>

                </div>

              </div>
        <% end %>



  <% else %>
    <div class="no-appointments">
        <h2 class ="text-center">C'est vide, ici... Et si vous ajoutiez un document ?</h2>
         <p style="width: 100%"><%= image_tag "reading.png" %></p>


    </div>
  <% end %>
            </div>
        </div>
    </div>
</div>
