<div class="form-container">
  <div class="form-design">
    <%= simple_form_for @appointment, url: appointment_path(@appointment), method: :patch do |f| %>
      <div class="form-inputs">
        <%= f.input :title, label: 'Objet', as: :string, input_html: { id: 'Objet' } %>
        <%= f.input :category, label: 'Catégorie', as: :radio_buttons, collection_wrapper_tag: 'div', collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: {class: 'category-selector'}, collection: Appointment::CATEGORIES %>
        <%= f.association :child, as: :radio_buttons, label: 'Enfant concerné', collection: @children.map { |child| [child.first_name, child.id] }, input_html: { class: "person-selector" }, item_wrapper_class: 'person-item' %>
        <%= f.input :child_presence_mandatory, label: 'Présence de l\'enfant obligatoire', as: :boolean, input_html: { class: "toggle" }, item_wrapper_class: 'tag-item' %>
        <%= f.association :parent_in_charge, as: :radio_buttons, collection:  @parents.map { |parent| [parent.email.split('@').first.capitalize, parent.id] } , label: 'Parent en charge', input_html: { class: "person-selector" }, item_wrapper_class: 'person-item'%>
        <%= f.input :date, label: 'Date du rendez-vous', as: :string, input_html: { data: { flatpickr_target: "date" }, id: 'date', 'data-controller': 'flatpickr' } %>
        <%= f.input :start_time, label: 'Heure de début', as: :string, input_html: { data: { flatpickr_target: "startTime" }, id: 'start_time' } %>
        <%= f.input :end_time, label: 'Heure de fin', as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
        <%= f.input :address, :label => 'Adresse',
                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete",
                                          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
        <%= f.input :details, label: 'Détails', as: :text, input_html: { id: 'détails' } %>

        <% if @appointment.attachment.attached? %>
          <p>
            <i class="fa-solid fa-cloud-arrow-down" style="color: #F0000 download-icon"></i>
            <%= link_to " Télécharger le fichier", rails_blob_path(@appointment.attachment, disposition: "attachment"), class: "btn-telecharger" %>
          </p>
        <% end %>

        <%= f.input :attachment, as: :file, label: "Ajouter un fichier" %>

        <%= f.submit 'Valider mes changements', class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
