<div class="form-design">
  <% if @appointments.any? %>
  <h2>Rendez-vous pour aujourd'hui :</h2>
   <ul>
    <% @appointments.each do |appointment| %>
      <li>
        <strong><%= appointment.title %></strong> -
        <%= appointment.start_time.strftime('%H:%M') %> à <%= appointment.end_time.strftime('%H:%M') %><br>
        Catégorie : <%= appointment.category %><br>
        Enfant concerné : <%= appointment.child.first_name %><br>
        Adresse : <%= appointment.address %><br>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2>Aucun rendez-vous prévu pour aujourd'hui.</h2>
<% end %>
</div>
