<div class="form-design">
  <div class="appointments-header">
    <div class="row">
      <div class="col-md-6">
        <h1 class="date-header"><%= I18n.l(Date.today, format: '%A %-d %B %Y', locale: :fr).capitalize %></h1>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="<%= new_appointment_path %>" class="btn btn-primary">Ajouter un rendez-vous</a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="calendar-container">
          <div class="date-numbers">
            <% (Date.today..Date.today+6).each do |date| %>
              <a href="<%= appointments_path(date: date) %>" class="date-number <%= 'primary' if date == Date.today %>">
                <div class="date-wrap">
                  <span class="day-abbr"><%= date.strftime('%a') %></span>
                  <span class="date-number"><%= date.strftime('%-d') %></span>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @appointments.any? %>
    <div class="appointment-section">
      <h2 class="text-center">Rendez-vous pour aujourd'hui :</h2>
      <div class="appointment-cards">
        <% @appointments.sort_by(&:start_time).each do |appointment| %>
          <%= link_to appointment_path(appointment), class: "text-decoration-none" do %>
            <div class="card mb-3 shadow rounded">
              <div class="card-body d-flex justify-content-between align-items-center">
                <div class="time-box text-center">
                  <span class="fw-bold"><%= appointment.start_time.strftime('%H:%M') %></span> -
                  <span class="fw-light"><%= appointment.end_time.strftime('%H:%M') %></span>
                </div>
                <div class="appointment-details">
                  <h5 class="card-title">
                    <strong><%= appointment.title %></strong>
                  </h5>
                  <p class="card-text">
                    <span class="fw-bold">Catégorie :</span> <%= appointment.category %><br>
                    <span class="fw-bold">Enfant concerné :</span> <%= appointment.child.first_name %><br>
                    <span class="fw-bold">Adresse :</span> <%= appointment.address %><br>
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center px-3 py-2">
                <%= link_to "Modifier", edit_appointment_path(appointment), class: "btn btn-primary btn-sm" %>
                <%= link_to "Supprimer", appointment_path(id: appointment.id, date: params[:date]), data: { turbo_method: :delete, confirm: "Êtes-vous sûr de vouloir supprimer ce rendez-vous ?" }, class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="no-appointments">
      <h2 class="text-center">Aucun rendez-vous prévu pour aujourd'hui.</h2>
    </div>
  <% end %>
</div>
